body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

canvas{
    background-color: darkgrey;
    border: black solid;
}

.popup {
    background-color: #ff0000;
    position :fixed;
    left:30%;
    width: 400px;
    height: 400px;
    z-index: 10;
}

